/*colors*/

/*background color*/
$background-primary: #323232;
$background-secondary: #ffffff;
$background-tertiary:#afafaf;


/*text-color*/
$text-primary: #ffffff;
$text-secondary: #000000;
$text-tertiary: #afafaf;

/*hover*/
$hover:#000000;

/*underline*/
$underline:#ffffff;
$underline-secondary:#afafaf;

/*button*/
$button-primary:#ffffff;
$button-secondary:#000000;
     