/*fonts*/
@font-face {
  font-family: "Avenir";
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: "Avenir--bold";
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf);
}
@font-face {
  font-family: "Avenir--demi";
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf);
}