/*font sizes*/

/*mobile xs*/
/*nav*/
$nav-link-xs:0.875rem;
$nav-header-xs:1.25rem;

/*Bio Hero*/
$bio-hero-header-xs:1.5rem;

/*Biography*/
$biography-header-xs:1.5rem;
$biography-quote-xs:1rem;
$biography-subtitle-xs:1rem;
$biography-description-xs: 0.875rem;

/*Photo Gallery*/
$gallery-header-xs:1.875rem;

/*Comments*/
$comments-header-xs:1.875rem;
$comments-button-xs:1.5rem;
$comments-text-xs:0.875rem;

/*Footer*/
$footer-title-xs:1.625rem;
$footer-subtitle-xs:1rem;
$footer-info-xs: 0.9375rem;
$footer-end-xs: 1.5rem;
$footer-copyright-xs: 0.5875rem;

/*mobile*/
$nav-link-mobile:0.875rem;
$nav-header-mobile:1.25rem;

/*Bio Hero*/
$bio-hero-header-mobile:2.2rem;

/*Biography*/
$biography-header-mobile:2rem;
$biography-quote-mobile:1.125rem;
$biography-subtitle-mobile:1.125rem;
$biography-description-mobile:1rem;

/*Photo Gallery*/
$gallery-header-mobile:1.875rem;

/*Comments*/
$comments-header-mobile:1.875rem;
$comments-button-mobile:1.5rem;
$comments-text-mobile:0.875rem;

/*Footer*/
$footer-title-mobile:1.625rem;
$footer-subtitle-mobile:1rem;
$footer-info-mobile: 0.9375rem;
$footer-end-mobile: 1.5rem;
$footer-copyright-mobile: 0.75rem;

/*tablet*/
$nav-link-tablet:1.25rem;
$nav-header-tablet:1.5625rem;

/*Bio Hero*/
$bio-hero-header-tablet:3.5rem;

/*Biography*/
$biography-header-tablet:2.5rem;
$biography-quote-tablet:1.5rem;
$biography-subtitle-tablet: 1.5625rem;
$biography-quoter-tablet: 1.125rem;
$biography-description-tablet:1.125rem;

/*Photo Gallery*/
$gallery-header-tablet:1.875rem;

/*Comments*/
$comments-header-tablet:1.875rem;
$comments-button-tablet:1.5rem;
$comments-text-tablet:1rem;

/*Footer*/
$footer-title-tablet:2.25rem;
$footer-subtitle-tablet:.9rem;
$footer-info-tablet: 0.8375rem;
$footer-end-tablet: 1.5rem;
$footer-copyright-tablet: 0.775rem;

/*desktop*/
$nav-link-desktop:0.875rem;
$nav-header-desktop:1.625rem;

/*Bio Hero*/
$bio-hero-header-desktop:4.5rem;

/*Biography*/
$biography-header-desktop:2.5rem;
$biography-quote-desktop:1.5rem;
$biography-subtitle-desktop:1.5625rem;
$biography-description-desktop: 0.875rem;

/*Photo Gallery*/
$gallery-header-desktop:1.875rem;

/*Comments*/
$comments-header-desktop:1.875rem;
$comments-button-desktop:1.5rem;
$comments-text-desktop:0.875rem;

/*Footer*/
$footer-title-desktop:2.5rem;
$footer-subtitle-desktop:1rem;
$footer-info-desktop:1.5rem;
$footer-end-desktop: 1.5rem;
$footer-copyright-desktop: .8rem;



