@font-face {
  font-family: "Avenir";
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
  font-style: normal;
}
* {
  font-family: "Avenir", sans-serif;
  box-sizing: border-box;
}

.outer {
  margin: 0;
}

.nav {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
}
.nav__header {
  width: auto;
  color: #ffffff;
  margin-top: 1.25rem;
  font-weight: 300;
  font-size: 0.875rem;
  text-align: center;
}
.nav__links {
  display: flex;
  list-style: none;
  width: 100%;
  background-color: #323232;
}
.nav__links__link {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0.625rem;
}
.nav__links__link:hover {
  background-color: #000000;
}
.nav__links__link--underline {
  border-bottom: 0.25rem solid #ffffff;
}

.link {
  text-decoration: none;
  color: #afafaf;
  box-shadow: none;
  font-size: 0.875rem;
}
.link--active {
  font-weight: bold;
  color: #ffffff;
}

.background {
  padding: 2% 5%;
  padding-top: 10%;
  padding-bottom: 10%;
  background-position: center;
  background-size: cover;
  height: 100%;
  background-image: url("../assets/images/hero-shows.jpg");
}
.background__header {
  color: #ffffff;
  font-size: 2.313rem;
  margin-bottom: 0.625rem;
  font-weight: 700;
}
.background__subheader {
  color: #ffffff;
  font-size: 0.875rem;
  margin-bottom: 1.25rem;
}

.sound__cloud {
  margin-top: 0.625rem;
}

.shows__section {
  background-color: #ffffff;
  padding: 2%;
  display: flex;
  flex-direction: column;
}
.shows__section__header {
  font-size: 1.75rem;
  color: #000000;
  font-weight: bold;
}
.shows__section__container {
  margin-bottom: 1.25rem;
}
.shows__section__subtitle {
  font-size: 0.813rem;
  color: #afafaf;
  margin-bottom: 0.625rem;
}
.shows__section__info {
  font-size: 0.876rem;
  margin-bottom: 0.625rem;
  font-weight: 400;
}
.shows__section__info--date {
  font-weight: bold;
  font-size: 0.938rem;
  margin-bottom: 0.625rem;
}
.shows__section__button {
  width: 99%;
  align-self: center;
  background-color: #000000;
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: bold;
  padding: 0.938rem 0.625rem;
  border-radius: 0.313rem;
}
.shows__section__divide {
  border: 0.063rem solid #afafaf;
}

.footer {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  width: auto;
  color: #ffffff;
  padding: 1.25rem;
  line-height: 2.5rem;
}
.footer__title {
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
}
.footer__social {
  display: flex;
}
.footer__social__link {
  margin-right: 2.5rem;
}
.footer__social__link__img {
  width: 1.625rem;
  height: 1.625rem;
}
.footer__subtitle {
  font-size: 0.875rem;
}
.footer__info {
  line-height: 1.5rem;
  font-size: 0.875rem;
}
.footer__contact {
  line-height: 3rem;
}
.footer__contact a {
  color: #ffffff;
}
.footer__end {
  font-weight: 300;
  font-size: 0.875rem;
}
.footer__copyright {
  font-size: 0.75rem;
  margin-top: -0.875rem;
}

@media (max-width: 767px) {
  .link {
    font-size: 0.875rem;
  }
  .nav__header {
    width: auto;
  }
  .nav__link {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .nav__link--biography {
    border-bottom: 0.25rem solid #ffffff;
  }
  .nav__link--shows {
    border-bottom: 0.25rem solid #ffffff;
  }
}
.background__subheader {
  font-size: 1rem;
}

.footer__title {
  font-size: 1.625rem;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .nav {
    flex-direction: row;
    text-align: center;
    margin: 0;
  }
  .nav__header {
    width: auto;
    color: #ffffff;
    margin: 1.5625rem;
    font-weight: 300;
    font-size: 1.5625rem;
  }
  .nav__links {
    color: #ffffff;
  }
  .nav__links__link {
    width: auto;
    height: 100%;
    font-size: 1.5625rem;
    margin-left: 2.188rem;
    line-height: 3.75rem;
  }
  .nav__links__link--biography {
    border-bottom: 0.25rem solid #ffffff;
  }
  .nav__links__link--shows {
    border-bottom: 0.25rem solid #ffffff;
  }
  .background {
    padding: 0% 5%;
    background: #ffffff;
    padding-top: 5%;
    padding-bottom: 1%;
    background-position: center;
    background-size: cover;
    height: 100%;
    background-image: url("../assets/images/hero-shows.jpg");
  }
  .background__img {
    background-position: center;
    background-size: cover;
  }
  .background__header {
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
  }
  .background__subheader {
    font-size: 2rem;
    font-weight: bold;
  }
  .sound__cloud {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 60%;
    height: 9.375rem;
  }
  .shows__section__container {
    display: flex;
    flex-direction: row;
    border-bottom: #afafaf 0.063rem solid;
    justify-content: space-between;
  }
  .shows__section__subcontainer {
    display: flex;
    flex-direction: column;
  }
  .shows__section__button {
    width: 20%;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.313rem;
    margin-bottom: 1.25rem;
  }
  .shows__section__divide {
    display: none;
  }
  .footer__subcontainer {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .footer--column {
    display: flex;
    flex-direction: column;
    margin-right: 3.2rem;
  }
  .footer__title {
    width: -moz-max-content;
    width: max-content;
    font-size: 2.25rem;
  }
  .footer__subtitle {
    font-size: 2.25rem;
    width: 12.5rem;
  }
  .footer__social {
    margin-left: 3.125rem;
    margin-top: 1.75rem;
  }
  .footer__social__img {
    width: 1.575rem;
    height: 1.575rem;
  }
  .footer__info {
    line-height: 1.5rem;
    font-size: 0.8375rem;
  }
  .footer__contact {
    line-height: 3rem;
    font-size: 0.9375rem;
  }
  .footer__end {
    position: absolute;
    left: 38.5rem;
    font-weight: 400;
    margin-left: 0.625rem;
    margin-top: 1.25rem;
    font-size: 1.5rem;
    width: 0.775rem;
  }
  .footer__copyright {
    font-size: 0.775rem;
    margin-top: 0.125rem;
  }
}
@media (min-width: 1280px) {
  .link {
    text-decoration: none;
    color: #afafaf;
    box-shadow: none;
  }
  .link--active {
    font-weight: bold;
    color: #ffffff;
  }
  .nav {
    background-color: #323232;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0;
  }
  .nav__header {
    width: auto;
    color: #ffffff;
    margin: 1.5625rem;
    margin-left: 9.375rem;
    font-weight: 300;
    font-size: 0.875rem;
    text-align: center;
  }
  .nav__links {
    display: flex;
    list-style: none;
    width: auto;
    color: #ffffff;
    background-color: #323232;
  }
  .nav__links__link {
    width: auto;
    height: 100%;
    font-size: 0.875rem;
    margin-left: 2.188rem;
    line-height: 3.75rem;
  }
  .nav__links__link--biography {
    border-bottom: 0.25rem solid #ffffff;
  }
  .nav__links__link--shows {
    border-bottom: 0.125rem solid #ffffff;
  }
  .background {
    padding: 0% 9%;
    background: #ffffff;
    padding-top: 10%;
    padding-bottom: 10%;
    background-position: center;
    background-size: cover;
    height: 100%;
    background-image: url("../assets/images/hero-shows.jpg");
  }
  .background__img {
    background-position: center;
    background-size: cover;
  }
  .background__container {
    display: flex;
    flex-direction: row;
  }
  .background__header {
    color: #ffffff;
    font-size: 3.5rem;
    font-weight: bold;
  }
  .background .sound__cloud {
    width: 50%;
    margin-top: 0.625rem;
    margin-left: 9.375rem;
  }
  .shows__section {
    background-color: #ffffff;
    padding: 2%;
    display: flex;
    flex-direction: row;
  }
  .shows__section__header {
    font-size: 1.75rem;
    color: #000000;
    margin-left: 6.25rem;
  }
  .shows__section .show__container {
    display: flex;
    flex-direction: column;
    width: 50rem;
    margin-left: 6.25rem;
    margin-top: 1.875rem;
  }
  .shows__section__container {
    margin-bottom: 1.25rem;
    display: flex;
    flex-direction: row;
    border-bottom: #afafaf 0.063rem solid;
    justify-content: space-between;
  }
  .shows__section__container__subcontainer {
    display: flex;
    flex-direction: column;
  }
  .shows__section__container__subcontainer__subtitle {
    font-size: 0.813rem;
    color: #afafaf;
    margin-bottom: 0.625rem;
  }
  .shows__section__container__subcontainer__info {
    font-size: 0.876rem;
    margin-bottom: 0.625rem;
    font-weight: 400;
  }
  .shows__section__container__subcontainer__info--date {
    font-weight: bold;
    font-size: 0.938rem;
    margin-bottom: 0.625rem;
  }
  .shows__button {
    width: 20%;
    align-self: center;
    background-color: #000000;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.313rem;
    margin-bottom: 1.25rem;
  }
  .shows__divide {
    display: none;
  }
  .footer {
    background-color: #323232;
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 3.75rem;
    line-height: 2.5rem;
  }
  .footer__subcontainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 4.4rem;
  }
  .footer__subcontainer--column {
    display: flex;
    flex-direction: column;
    padding: 5rem;
  }
  .footer__title {
    margin-bottom: 1.25rem;
    margin-left: 4.875rem;
    font-size: 2.5rem;
  }
  .footer__subtitle {
    font-size: 1rem;
  }
  .footer__social {
    display: flex;
    margin-left: 11.8rem;
    margin-top: 2.15rem;
  }
  .footer__social__link {
    margin-right: 2.5rem;
  }
  .footer__social__img {
    width: 1.675rem;
    height: 1.675rem;
  }
  .footer__info {
    line-height: 1.5rem;
  }
  .footer__contact {
    line-height: 3.125rem;
  }
  .footer__end {
    position: absolute;
    left: 40.75rem;
    font-weight: 300;
    margin-left: 29.875rem;
    margin-top: 1.7rem;
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=shows.css.map */